

trigger:
- main

pool:
  My-pool

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: 
    npm install
    npm run build
  displayName: 'npm install and build'

- task: PublishBuildArtifacts@1
  displayName: "PublishBuildArtifacts"
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)/build.zip'
    ArtifactName: 'reactjs'
    publishLocation: 'Container'

